/* #Region Common */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #End Region Common */

#site_header
{
    background-image: url("../img/pattern.png");
    background-color: aqua;
    background-size: contain;
}
.logo{
    width: 20%;
    padding: 20px;
}
a{
    text-decoration: none;
}
.text{
    padding-top: 10px;
    padding-bottom: 10px;
}
ul{
    padding-left: 30px;
}
table{
    padding-top: 10px;
}
th{
    background-color: rgb(32, 80, 211);
    color: blanchedalmond;
}
.th1{
    width: 25%;
}
.th2{
    width: 50%;
}